Horizontal {
    height: 1fr;
}

#mod-tree {
    width: 40%;
    border: round $primary;
    background: transparent;
}

#detail-scroll {
    width: 60%;
    border: round $primary;
}

#detail {
    padding: 1 2;
}

#map-detail {
    padding: 0 2;
}

#detail, #map-detail {
    height: auto;
}

.campaign-section > Contents {
    padding-left: 3;
}

.campaign-detail {
    height: auto;
}

.campaign-header {
    height: auto;
}

.map-list {
    height: auto;
    background: transparent;
}
