#template-filter {
    border: round $primary;
}

#template-warnings {
    padding-bottom: 0;
    border: round $warning;
}

#template-warnings > Contents {
    padding-left: 3;
}

#rule-conflicts {
    padding-bottom: 0;
    border: round $warning;
}

#rule-conflicts > Contents {
    padding-left: 3;
}

#template-list {
    width: 40%;
    height: 1fr;
    border: round $primary;
    background: transparent;
}

#template-right {
    width: 60%;
    height: 1fr;
    border: round $primary;
    padding: 1 1;
}

#template-detail {
    height: 1fr;
}

#template-detail-content {
    height: auto;
}

#kind-input {
    margin-top: 1;
}

#save-rule {
    margin-top: 1;
    width: auto;
}
